.catalog-shortcode-item, .catalog-item {
    box-shadow: $shadow;
    border: 1px solid $borderColor;
    @include smooth_animation;
    
    &:hover {
        box-shadow: none;
    }
    
    h6 {
        padding: 15px;
    }
}