.logo {
    &,
    &-link,
    &-img {
        display: inline-block;
        vertical-align: middle;
    }
}

.phone {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;
    }

    &-number {
        display: inline-block;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.social {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;
    }

    &-link {
        display: block;
        text-align: center;
        text-decoration: none;
        color: $iconColor;

        &:hover {
            color: $iconColorActive;
        }
    }
}

.messenger {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;
    }

    &-link {
        display: block;
        text-align: center;
        text-decoration: none;

        &:hover {
        }
    }
}

.lang {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;

        a {
            display: block;


            &:after {
                content: "/";
                margin-left: 15px;
            }

            img {
                height: 15px;
            }
        }
    }

    &-item:last-child {
        a {
            &:after {
                display: none;
            }
        }
    }
}