.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $footerBgColor;
}

.pre-footer {
    padding: 20px 0;
    background-color: lighten($footerBgColor, 10%);
}

.copyright {
    padding: 14px 0;
    color: $footerFontColor;
    display: flex;
    justify-content: space-between;

    a {
        color: $footerFontColor;
        text-decoration: underline;

        &:hover {
            color: $footerLinkColorActive;
        }
    }
    
    //xs 544
    @media #{$mobile} {
        flex-direction: column;
        text-align: center;
    }
}