.home {
  & .page-header {
    box-shadow: none;
    margin-bottom: 0;
  }
}

.page-header {
  padding-bottom: 10px;
  background-color: transparent;
  color: $themeColorOne;
  position: relative;
  z-index: 5;
  box-shadow: 0 0 10px 1px $light_text_color;
  margin-bottom: 25px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 10px;

    & .phone {
      width: calc(100% - 240px);

      &-item {
        margin-right: 5px;
        margin-left: 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

}

@media screen and (min-width: 1200px) {
  .page-header {
    &__container {
      & .phone-item {
        margin-right: 5%;
      }
    }
  }
}
