@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700,700i&display=swap&subset=cyrillic-ext');

$font-family-sans-serif: 'Ubuntu', sans-serif;
$fontFamilyOne: $font-family-sans-serif; // titles
$fontFamilyTwo: $font-family-sans-serif; // body